/*
!/.gitignore
!/custom_files
!/custom_files/**
/.config/*
!/.config/nvim
!/.config/nvim/lua
!/.config/nvim/lua/**
!/.config/nvim/**
!/.config/gh/**
!/.config/dconf/**
!/.config/pacseek/**
!/.config/btop/**
!/.config/neofetch/**
!/.config/yay/**
!/.config/wal/**
!/.config/waybar/**
!/.config/starship/**
!/.config/spotify-tui/**
!/.config/rofi/**
!/.config/nnn/**
!/.config/mako/**
!/.config/kitty/**
!/.config/hypr/**
!/.config/dotfiles-scripts/**
!/.bashrc
!/.zshrc
!/.gitconfig
!/utilities
!/utilities/**
!/public
!/public/**
!/tmp
!/tmp/**
!/.config/discord/**

